flows.json
[{"id":"8a6259e8.375a68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"508e5c56.7cd2f4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b8c0de74.06937","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter","targetType":"msg","x":725.5,"y":83,"wires":[]},{"id":"3017c6f.e288e3a","type":"inject","z":"8a6259e8.375a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176.5,"y":81,"wires":[["cb555886.1e9fe8","53c67b27.16f5c4"]]},{"id":"cb555886.1e9fe8","type":"function","z":"8a6259e8.375a68","name":"Context  -10","func":"var cont1 = context.get('cont') || 0;\n\ncont1 -= 10;\n\nmsg.counter = \"Counter Context = \" + cont1;\n\ncontext.set('cont',cont1);\n\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":81,"wires":[["780d86b8.2535c8"]]},{"id":"1944752d.b4381b","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test2","targetType":"msg","x":591,"y":187,"wires":[]},{"id":"95d96999.60da68","type":"inject","z":"8a6259e8.375a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":176,"y":187,"wires":[["54fee7b1.727be8"]]},{"id":"54fee7b1.727be8","type":"function","z":"8a6259e8.375a68","name":"Context Read","func":"var cont1 = context.get('cont') || 0;\n\nmsg.test2 = \"----> Context Test = \" + cont1;\n\nreturn msg;","outputs":1,"noerr":0,"x":387.5,"y":188,"wires":[["1944752d.b4381b"]]},{"id":"53c67b27.16f5c4","type":"function","z":"8a6259e8.375a68","name":"Context Read","func":"var cont1 = context.get('cont') || 0;\n\nmsg.test = \"--> Context= \" + cont1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":128,"wires":[["a3c9e06c.a6d64"]]},{"id":"a3c9e06c.a6d64","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test","targetType":"msg","x":587,"y":129,"wires":[]},{"id":"3c601b1.e7ef9e4","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter","targetType":"msg","x":588,"y":282,"wires":[]},{"id":"abadfe02.271e8","type":"inject","z":"8a6259e8.375a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168,"y":282,"wires":[["1799c380.cd37dd","58e9701d.312ae"]]},{"id":"1799c380.cd37dd","type":"function","z":"8a6259e8.375a68","name":"Flow +1","func":"var cont1 = flow.get('flow') || 0;\n\ncont1 += 1;\n\nmsg.counter = \"Flow = \" + cont1;\n\nflow.set('flow',cont1);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":368.5,"y":282,"wires":[["3c601b1.e7ef9e4"]]},{"id":"4d8e8de4.284e74","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test2","targetType":"msg","x":582.5,"y":388,"wires":[]},{"id":"e7d7957b.9a1658","type":"inject","z":"8a6259e8.375a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":167.5,"y":388,"wires":[["b17bc436.9397a8"]]},{"id":"b17bc436.9397a8","type":"function","z":"8a6259e8.375a68","name":"Flow Read","func":"var cont1 = flow.get('flow') || 0;\n\nmsg.test2 = \"----> Flow Test = \" + cont1;\n\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":389,"wires":[["4d8e8de4.284e74"]]},{"id":"58e9701d.312ae","type":"function","z":"8a6259e8.375a68","name":"Flow Read","func":"var cont1 = flow.get('flow') || 0;\n\nmsg.test = \"--> Flow= \" + cont1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":377.5,"y":329,"wires":[["e8535003.9ace9"]]},{"id":"e8535003.9ace9","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test","targetType":"msg","x":578.5,"y":330,"wires":[]},{"id":"5fa466ea.434128","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"counter","targetType":"msg","x":589.5,"y":500,"wires":[]},{"id":"3d11096.eec86f6","type":"inject","z":"8a6259e8.375a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169.5,"y":500,"wires":[["b042d5d8.bed858","2a04a344.e0e0dc"]]},{"id":"b042d5d8.bed858","type":"function","z":"8a6259e8.375a68","name":"Global","func":"var cont1 = global.get('glob') || 0;\n\ncont1 += 1;\n\nmsg.counter = \"Global = \" + cont1;\n\nglobal.set('glob',cont1);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":500,"wires":[["5fa466ea.434128"]]},{"id":"1e2dad5c.5e3633","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test2","targetType":"msg","x":584,"y":606,"wires":[]},{"id":"f50a4ab6.d5bfb8","type":"inject","z":"8a6259e8.375a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":606,"wires":[["7d0bdf2c.db8ef"]]},{"id":"7d0bdf2c.db8ef","type":"function","z":"8a6259e8.375a68","name":"Global Read","func":"var cont1 = global.get('glob') || 0;\n\nmsg.test2 = \"----> Global Test = \" + cont1;\n\nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":607,"wires":[["1e2dad5c.5e3633"]]},{"id":"2a04a344.e0e0dc","type":"function","z":"8a6259e8.375a68","name":"Global Read","func":"var cont1 = global.get('glob') || 0;\n\nmsg.test = \"--> Global= \" + cont1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":547,"wires":[["e9cc857d.9dd8a8"]]},{"id":"e9cc857d.9dd8a8","type":"debug","z":"8a6259e8.375a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test","targetType":"msg","x":580,"y":548,"wires":[]},{"id":"1b674a03.fed836","type":"debug","z":"508e5c56.7cd2f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test2","targetType":"msg","x":558,"y":181,"wires":[]},{"id":"ecceda56.606588","type":"inject","z":"508e5c56.7cd2f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":181,"wires":[["275d9ba2.c18294"]]},{"id":"275d9ba2.c18294","type":"function","z":"508e5c56.7cd2f4","name":"Global Read","func":"var cont1 = global.get('glob') || 0;\n\nmsg.test2 = \"----> Global Test = \" + cont1;\n\nreturn msg;","outputs":1,"noerr":0,"x":344.5,"y":182,"wires":[["1b674a03.fed836"]]},{"id":"8340f092.24685","type":"debug","z":"508e5c56.7cd2f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"test2","targetType":"msg","x":558,"y":77,"wires":[]},{"id":"bce68432.3a93c8","type":"inject","z":"508e5c56.7cd2f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":77,"wires":[["9dd50545.490728"]]},{"id":"9dd50545.490728","type":"function","z":"508e5c56.7cd2f4","name":"Flow Read","func":"var cont1 = flow.get('flow') || 0;\n\nmsg.test2 = \"----> Flow Test = \" + cont1;\n\nreturn msg;","outputs":1,"noerr":0,"x":343.5,"y":76,"wires":[["8340f092.24685"]]},{"id":"f86afede.17ba7","type":"comment","z":"508e5c56.7cd2f4","name":"flow olarak tanımlanan içerik Flow lar arası taşınamaz","info":"","x":257,"y":37,"wires":[]},{"id":"eacdd29b.f6789","type":"comment","z":"508e5c56.7cd2f4","name":"global tanımlanan içerik Tüm Flow larda kullanılabilir","info":"","x":247,"y":137,"wires":[]},{"id":"ed68bad6.ba8e28","type":"comment","z":"8a6259e8.375a68","name":"content olarak tanımlanan içerik sadece oluşturulduğu modülde kullanılabilir","info":"","x":348,"y":37,"wires":[]},{"id":"780d86b8.2535c8","type":"function","z":"8a6259e8.375a68","name":"Context +3","func":"var cont1 = context.get('cont') || 0;\n\ncont1 += 3;\n\nmsg.counter = \"Counter Context = \" + cont1;\n\ncontext.set('cont',cont1);\n\nreturn msg;","outputs":1,"noerr":0,"x":561,"y":82,"wires":[["b8c0de74.06937"]]},{"id":"5e6e8115.2ba17","type":"comment","z":"8a6259e8.375a68","name":"flow olarak tanımlanan içerik sadece oluşturulduğu flow içinde her modülde kullanılabilir","info":"","x":381,"y":240,"wires":[]},{"id":"46ba016a.35b7e","type":"comment","z":"8a6259e8.375a68","name":"global olarak tanımlanan içerik bütün flowlar içinde kullanılabilir","info":"","x":303,"y":451,"wires":[]}]