GoogleChartWithMsgPayload
[{"id":"cd6cff07.0a115","type":"debug","z":"e0514e0.c3859b","name":"","active":true,"console":"false","complete":"false","x":562,"y":361,"wires":[]},{"id":"cfb8b7f5.7bea18","type":"inject","z":"e0514e0.c3859b","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":192,"y":341,"wires":[["c1559b87.424eb8"]]},{"id":"c1559b87.424eb8","type":"ui_template","z":"e0514e0.c3859b","group":"7327bd6a.c52ff4","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Test</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":392,"y":361,"wires":[["cd6cff07.0a115"]]},{"id":"1cb55625.9444ca","type":"inject","z":"e0514e0.c3859b","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":202,"y":381,"wires":[["c1559b87.424eb8"]]},{"id":"7327bd6a.c52ff4","type":"ui_group","z":"","name":"Default","tab":"afb02c4c.a0a86","disp":true,"width":"20","collapse":false},{"id":"afb02c4c.a0a86","type":"ui_tab","z":"","name":"graphic","icon":"dashboard","disabled":false,"hidden":false}]
