GoogleChartWithMsgPayload
[{"id":"e0514e0.c3859b","type":"tab","label":"Template","disabled":false,"info":""},{"id":"7b2dfaf1.097fb4","type":"inject","z":"e0514e0.c3859b","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":188,"y":91,"wires":[["a4315801.465118","5fd93e94.936de"]]},{"id":"a4315801.465118","type":"function","z":"e0514e0.c3859b","name":"build array (2)","func":"var arr =[[\"erkan\",\"esen\",88],[\"crn\",\"kc\",31],[\"asl\",\"drmn\",29]];\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":91,"wires":[["cbcf6f10.9395e"]]},{"id":"e7d1a471.b30098","type":"debug","z":"e0514e0.c3859b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":888,"y":91,"wires":[]},{"id":"cbcf6f10.9395e","type":"ui_template","z":"e0514e0.c3859b","group":"dc061c5b.ba953","name":"Two dimension array table","order":1,"width":"0","height":"0","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>First Name</th> \n <th>Last Name</th>\n <th>Age</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":578,"y":91,"wires":[["e7d1a471.b30098"]]},{"id":"5fd93e94.936de","type":"function","z":"e0514e0.c3859b","name":"build array (2)","func":"var arr =[[\"12:00\",12,88],[\"13:00\",100,31],[\"14:00\",44,12],[\"15:00\",4,32],[\"16:00\",33,12],[\"17:00\",44,12]];\nmsg.payload = arr;\n//msg.payload = \"denemeaasds\";\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":214,"wires":[["456fbfc7.423a7"]]},{"id":"456fbfc7.423a7","type":"ui_template","z":"e0514e0.c3859b","group":"7327bd6a.c52ff4","name":"Google Graphic","order":1,"width":"0","height":"0","format":" <html>\n  <head>\n    \n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n    <script type=\"text/javascript\">\n   \n    // msg.payload ı yakalayıp sürekli güncel hali ile x değişkenine atar\n    var x;\n        (function(scope) {\n            // watch msg object from Node-RED\n            scope.$watch('msg', function(msg) {\n                // new message received\n                x = msg.payload; \n                });\n        })(scope);\n \n    // Google Chart\n      google.charts.load('current', {'packages':['line']});\n      google.charts.setOnLoadCallback(drawChart);\n\n    function drawChart() {\n        //var cek  = document.getElementById(\"test1\").innerHTML;\n        document.getElementById(\"yeni\").innerHTML = x;\n        //console.log(cek);\n      var data = new google.visualization.DataTable();\n      data.addColumn('string', 'Saat');\n      data.addColumn('number', 'deger1');\n      data.addColumn('number', 'deger2');\n\n        var i;\n        //var ms = [['a',23,44],['b',6,22],['c',12,4],['d',76,32]];\n        var ms = x;\n        \n        \n        for (i = 0; i < x.length; i++) { \n            data.addRow(\n                ms[i]\n                );\n        }\n       // data.addRow(['a',23,43]);\n       // data.addRow(['b',4,32]);\n       // data.addRow([['c',44,23]]);\n        \n\n      var options = {\n        chart: {\n          title: 'Grafik',\n          subtitle: 'Node-RED Google Chart Denemesi'\n        },\n        width: 900,\n        height: 500\n      };\n\n      var chart = new google.charts.Line(document.getElementById('curve_chart'));\n\n      chart.draw(data, google.charts.Line.convertOptions(options));\n    }\n    </script>\n  </head>\n  <body>\n       <p id=\"test1\">{{msg.payload[1]}}</p>  \n      -----\n      <h1 id=\"yeni\"></h1>\n    <div id=\"curve_chart\" style=\"width: 900px; height: 500px\"></div>\n  </body>\n</html>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":582,"y":212,"wires":[["e7d1a471.b30098"]]},{"id":"cd6cff07.0a115","type":"debug","z":"e0514e0.c3859b","name":"","active":true,"console":"false","complete":"false","x":562,"y":361,"wires":[]},{"id":"cfb8b7f5.7bea18","type":"inject","z":"e0514e0.c3859b","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":192,"y":341,"wires":[["c1559b87.424eb8"]]},{"id":"c1559b87.424eb8","type":"ui_template","z":"e0514e0.c3859b","group":"7327bd6a.c52ff4","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Test</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":392,"y":361,"wires":[["cd6cff07.0a115"]]},{"id":"1cb55625.9444ca","type":"inject","z":"e0514e0.c3859b","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":202,"y":381,"wires":[["c1559b87.424eb8"]]},{"id":"dc061c5b.ba953","type":"ui_group","z":"","name":"Two dimension Array","tab":"df69b1f6.28e2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"7327bd6a.c52ff4","type":"ui_group","z":"","name":"Default","tab":"afb02c4c.a0a86","disp":true,"width":"20","collapse":false},{"id":"df69b1f6.28e2a","type":"ui_tab","z":"","name":"Table Examples","icon":"dashboard","order":1},{"id":"afb02c4c.a0a86","type":"ui_tab","z":"","name":"graphic","icon":"dashboard","disabled":false,"hidden":false}]
