SpeakingTextInputWithFlowData.json
[{"id":"9b50a9a1.906538","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d7be3aea.bf1aa8","type":"ui_button","z":"9b50a9a1.906538","name":"","group":"fdb65cf0.b05b1","order":1,"width":0,"height":0,"passthru":false,"label":"Direk Oku","tooltip":"","color":"","bgcolor":"","icon":"","payload":"konusma","payloadType":"flow","topic":"","x":349.5,"y":208,"wires":[["c0a0d270.c5f8b","d771221d.4fda"]]},{"id":"fc074a24.3d4c28","type":"ui_text_input","z":"9b50a9a1.906538","name":"","label":"","tooltip":"","group":"fdb65cf0.b05b1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":357.5,"y":91,"wires":[["836875fa.1bd018"]]},{"id":"c0a0d270.c5f8b","type":"ui_audio","z":"9b50a9a1.906538","name":"","group":"fdb65cf0.b05b1","voice":"en-US","always":"","x":739.5,"y":204,"wires":[]},{"id":"836875fa.1bd018","type":"function","z":"9b50a9a1.906538","name":"set konusma","func":"var konusma = flow.get('konusma') || 0;\nkonusma = msg.payload;\nflow.set('konusma',konusma);\nmsg.new = konusma;\nreturn msg;","outputs":1,"noerr":0,"x":561,"y":93,"wires":[["9a87e1c5.2d998"]]},{"id":"60f44199.ca469","type":"function","z":"9b50a9a1.906538","name":"get konusma","func":"var konusma = flow.get('konusma') || \"\";\nmsg.payload = konusma;\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":365,"wires":[["e2570a80.9eb148","d27a7d62.51f23"]]},{"id":"9a87e1c5.2d998","type":"debug","z":"9b50a9a1.906538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"new","targetType":"msg","x":758,"y":95,"wires":[]},{"id":"d771221d.4fda","type":"debug","z":"9b50a9a1.906538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":748,"y":277,"wires":[]},{"id":"e60ecc66.e4712","type":"ui_button","z":"9b50a9a1.906538","name":"","group":"fdb65cf0.b05b1","order":1,"width":0,"height":0,"passthru":false,"label":"Function ile Oku","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":371,"y":364,"wires":[["60f44199.ca469"]]},{"id":"e2570a80.9eb148","type":"debug","z":"9b50a9a1.906538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":366,"wires":[]},{"id":"d27a7d62.51f23","type":"ui_audio","z":"9b50a9a1.906538","name":"","group":"fdb65cf0.b05b1","voice":"en-US","always":"","x":743,"y":414,"wires":[]},{"id":"6ffac6e8.b4c098","type":"ui_text_input","z":"9b50a9a1.906538","name":"","label":"","tooltip":"","group":"9833c52c.4b7c08","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":353,"y":538,"wires":[["c6db4b3.9dde4b8"]]},{"id":"c6db4b3.9dde4b8","type":"function","z":"9b50a9a1.906538","name":"set object","func":"var konusma = flow.get('konusma') || 0;\n//moving object with flow\nmsg.p1 = \"first properties\";\nkonusma = msg;\nkonusma.p2 = \"second properties\";\n\nflow.set('konusma',konusma);\nmsg.new = konusma.payload;\nreturn msg;","outputs":1,"noerr":0,"x":546.5,"y":540,"wires":[["7c77ea40.44db64"]]},{"id":"7c77ea40.44db64","type":"debug","z":"9b50a9a1.906538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"new","targetType":"msg","x":753.5,"y":542,"wires":[]},{"id":"892c2fe9.113ed","type":"function","z":"9b50a9a1.906538","name":"get object","func":"var konusma = flow.get('konusma') || \"\";\nmsg.payload = konusma.p1;\nmsg.payload2 = konusma.p2;\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":708,"wires":[["341b9232.0def7e","b5ae154d.dd24f8","c134d811.71a9f8"]]},{"id":"277ce74c.0661f8","type":"ui_button","z":"9b50a9a1.906538","name":"","group":"9833c52c.4b7c08","order":1,"width":0,"height":0,"passthru":false,"label":"Object Oku","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":707,"wires":[["892c2fe9.113ed"]]},{"id":"341b9232.0def7e","type":"debug","z":"9b50a9a1.906538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","x":769,"y":709,"wires":[]},{"id":"b5ae154d.dd24f8","type":"ui_audio","z":"9b50a9a1.906538","name":"","group":"9833c52c.4b7c08","voice":"en-US","always":"","x":752,"y":757,"wires":[]},{"id":"c134d811.71a9f8","type":"debug","z":"9b50a9a1.906538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":668,"wires":[]},{"id":"13da949e.445f3b","type":"comment","z":"9b50a9a1.906538","name":"flow ile text inputa girilen değeri kaydet","info":"","x":439,"y":44,"wires":[]},{"id":"dba193cd.1d20d","type":"comment","z":"9b50a9a1.906538","name":"flow ile kaydedilen değeri buton ile direk oku","info":"","x":453,"y":170,"wires":[]},{"id":"f504062d.434af8","type":"comment","z":"9b50a9a1.906538","name":"flow ile kaydedilen değeri function ile oku","info":"","x":448,"y":324,"wires":[]},{"id":"d4a1987.4fe7468","type":"comment","z":"9b50a9a1.906538","name":"flow ile object kaydet","info":"","x":379,"y":495,"wires":[]},{"id":"2d8ea172.d66ede","type":"comment","z":"9b50a9a1.906538","name":"flow kaydedilen object i oku","info":"","x":406,"y":662,"wires":[]},{"id":"fdb65cf0.b05b1","type":"ui_group","z":"","name":"first","tab":"2af0e6c2.a130ba","disp":true,"width":"6","collapse":false},{"id":"9833c52c.4b7c08","type":"ui_group","z":"","name":"second","tab":"2af0e6c2.a130ba","disp":true,"width":"6","collapse":false},{"id":"2af0e6c2.a130ba","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
